<div class="row">
  <div class="col-xs-12">
    <img src="https://image.afcdn.com/recipe/20160226/13818_w420h344c1cx300cy225.jpg" class="img-responsive" alt="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Recipe Name</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary dropdown-toggle" role="button">Manage recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">To Shopping list</a></li>  
      <li><a href="#">Edit Recipe</a></li> 
      <li><a href="#">Delete Recipe</a></li> 
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>description</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>Ingredients</p>
  </div>
</div>